.dracula {
  --background: 231 15% 16%;
  --foreground: 60 30% 96%;
  --card: 231 15% 21%;
  --card-foreground: 60 30% 96%;
  --popover: 231 15% 21%;
  --popover-foreground: 60 30% 96%;
  --primary: 326 100% 74%;
  --primary-foreground: 231 15% 16%;
  --secondary: 231 15% 26%;
  --secondary-foreground: 60 30% 96%;
  --muted: 231 15% 26%;
  --muted-foreground: 231 15% 72%;
  --accent: 231 15% 26%;
  --accent-foreground: 60 30% 96%;
  --destructive: 0 100% 45%;
  --destructive-foreground: 60 30% 96%;
  --border: 231 15% 28%;
  --input: 231 15% 28%;
  --ring: 326 100% 74%;
}